<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
   <section id="banner"> <p>Welcome to Real-Estate Deal!
        
    </p> </section>
    <form action="/" method="GET" >
    <input type="text" name="urlLBC" placeholder="Enter an LBC URL"/>
    </br></br>
    <button type="submit">
    Deal
    </button>
    </form>
    </br></br>
    <%= message %>

   
</body>

</html>